body {
    font-family: 'Poppins', sans-serif;
}

.fw-300 {
    font-weight: 300;
}

.form-control {
    font-weight: 500;
    letter-spacing: 1.3px;
}

.form-control:focus {
    box-shadow: none;
}

.fs-s-sm {
    font-size: 13px;
}

.header-hero {
    padding: 140px 0px 20px 10px;
}

.text-content-index {
    font-size: 45px;
    font-weight: 600;
}

.header-hero .h1-header-hero {
    font-size: 59px;
    line-height: 1;
    font-weight: 600;
    color: #2b3a56;
}

.header-hero p {
    font-weight: 300;
    font-size: 15px;
}

.header-hero .h1-header-hero span{
    color: #dc3e3e;
    position: relative;
}

.start-button-header {
    font-weight: 500;
    position: relative;
    background: #dc3e3e;
    z-index: 3;
    top: 0; 
    transition: top 0.3s ease;
}

.hero-header-button {
    height: 20px;
    cursor: pointer;
}

.hero-header-button:hover .start-button-header {
    cursor: pointer;
    background: #dc3e3e;
    top: 7px;
}

.back-shadow-button {
    position: relative;
    bottom: 25px;
    background: #d12d2d;
}

.header-hero .h1-header-hero span img {
    position: absolute;
    bottom: 0;
    transform: translateX(-300px);
}

#visitorMap3 {
    position: absolute;
    transition: transform 2.4s ease;
    transform: translateX(30);
}


.initial-content img {
    transition: 0.4s;
    border: 2px solid black;
}

.initial-content img:hover {
    transform: scale(1.04);
    transition: 0.4s;
}

#game-container {
    width: 600px;
    height: 200px;
    background-color: #f7f7f7;
    position: relative;
    margin: 0 auto;
    border: 1px solid #ccc;
    overflow: hidden;
  }

#dinosaur {
    width: 60px;
    height: 60px;
    background-color: #333;
    position: absolute;
    bottom: 0;
    left: 0;
}

#cactus {
    width: 30px;
    height: 60px;
    background-color: #999;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* game pukul  */

.container.btn-game {
    height: 100vh;
}

.wrapper-all-doge {
    padding: 100px 0;
}

.domge {
    z-index: 4;
}

.main-character {
    position: absolute;
    width: 230px !important;
    height: 230px !important;
    right: 290px;
    top: 40px;
}

.btn.btn-primary.btn-pukul {
    background: #ac46ff;
    color: #f4f4f4;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn.btn-primary.btn-pukul::before,
.btn.btn-primary.btn-pukul::after {
    position: absolute;
    content: "";
    z-index: -1;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #920ffe; /* adjust the background color as needed */
    transition: width 0.3s ease-in-out;
}

.btn.btn-primary.btn-pukul::before {
    left: -100%;
}

.btn.btn-primary.btn-pukul::after {
    left: 0;
}

.btn.btn-primary.btn-pukul:hover::before,
.btn.btn-primary.btn-pukul:hover::after {
    width: 100%;
}


/* end game pukul  */

/* test  */

.text-space-main {
    animation: fade-in infinite 1.2s ease-in-out;
}

@keyframes fade-in {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.header-hero.test img {
    /* position: absolute; */
}
/* end test  */
